<li data-corners="false" data-shadow="false" data-theme="d" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-d">
    <div class="text">
        <p class="hora"><strong> <%= this.hora %> </strong></p>
        <p> <%= this.detalle %> </p>
    </div>
</li>