<h2 style="text-align: center;"> Registro Satisfactorio</h2>

<p> El registro se realizo satisfacotiramente, 
podra ingresar al sistema presionando el boton ingresar.</p>

<a id="ingresar" data-role="button" data-theme="b">Ingresar</a>