<ul id="listaPatente" data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="delete" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
        <div class="ui-btn-inner ui-li">
            <h3 class="ui-li-heading"><%= this %></h3>
            <span id="delete1" class="ui-icon ui-icon-delete ui-icon-shadow">
                &nbsp;
            </span>
        </div>
    </li>
</ul>