/* 
    Document   : tabla
    Created on : 09/01/2012, 16:36:10
    Author     : nguidi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


table.table {
    width: 400px;
}

.span13{
    width: 1050px;
    height: 1000px;
}
