<h3>Recaudacion </h3>
Mes: <input name="mes" type="text" id="mes"> Anio: <input name="anio" type="text" id="anio">
<table class="cc" cellspacing="0" cellpadding="3" border="1" align="center" width="15%">
    <thead>
        <tr>
            <th align="center">
                Fecha
            </th>
            <th align="center">
                Recaudado
            </th>										
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>