<div>
    <label id="patente"> Patente Numero: </label>
    <p> <%= this.patente %> </p>
    <label id="correcto"> Estado: </label>
    <% if (this.correcto) { %>
        <div> OK! </div>
    <% } else { %>
        <div> NO! </div>
    <% } %>
</div>