<div data-role="controlgroup">
<div id="marcasSelect"> </div>
    <label class="ui-input-text" for="name"> Patente </label>

    <input id="patente" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset"
        type="text" value="" name="patente">

    <a id= "aceptar" class="ui-btn ui-btn-inline ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-b"
        data-wrapperels="span" data-iconshadow="true" data-shadow="true" data-corners="true"
        data-inline="true" data-theme="b" data-icon="check" data-role="button">
    <span class="ui-btn-inner ui-btn-corner-all">
        <span class="ui-btn-text"> Aceptar </span>
        <span class="ui-icon ui-icon-check ui-icon-shadow"> &nbsp; </span>
    </span>
    </a>


</div>