<button id="<%= this %>" type="button" tabindex="-1" title="Clean" class="ui-button ui-widget ui-state-default ui-button-icon-only ui-button-icon ui-state-hover clean" role="button" aria-disabled="false">
    <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
    <span class="ui-button-text">&nbsp;</span>
</button>