<br/>
<div id="form">
    <form class="span11 form-horizontal" id="recuperacion_palabra_clave">

        <div class="control-group celular">
            <span class="control-label" for="input01">Celular:</span>
            <div class="controls">
                <input type="text" name="celular"/>
            </div>
        </div>
        <div class="control-group palabra_clave">
            <span class="control-label" for="input02">Palabra clave:</span>
            <div class="controls">
                <input type="text" name="palabra_clave"/>
            </div>
        </div>

        <div class="form-actions">
            <div class="btn btn-primary">Consultar</div>
            <div class="btn right">Cancelar</div>
        </div>
    </form>
</div>