<div class="h1">Recuperación de clave</div>
<div class="tabbable tabs-left zonas">
    <ul class="nav nav-tabs">
        <li><a href="#palabra_clave" data-togle="tab"><i class="icon-lock"></i> Recuperación con palabra clave</a></li>
        <li><a href="#patente" data-togle="tab"><i class="icon-lock"></i> Recuperación con datos de alguna Patente</a></li>
        <li><a href="#sin_datos" data-togle="tab"><i class="icon-lock"></i> Recuperación sin datos</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="h2">En esta sección se puede recuperar las claves de los usuarios mediantes diferentes métodos</div>  
        </div>
        <div class="tab-pane" id="palabra_clave">
            <div class="h2">Recuperación con palabra clave</div>  
            <div id="palabra_clave"></div>
        </div>
        <div class="tab-pane" id="patente">
            <div class="h2">Recuperación con datos de alguna Patente</div>  
            <div id="patente" class="alta_zona"></div>
        </div>
        <div class="tab-pane" id="sin_datos">
            <div class="h2">Recuperación sin datos</div>  
            <div id="sin_datos" class="alta_zona"></div>
        </div>
        
    </div>
</div>

