div.zonas{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.h1{
    width: 90%;
    font-size: 22px;
    margin-bottom: 40px;
    text-align: left;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0088CC;
}

div.h2{
    font-size: 18px;
}
ul.nav{
    font-size: 14px;
}

div#datosPersonales {
    width: 70%;
}

div#form {
    font-size: 16px;
}

div.alta_zona {
    text-align: center;
    width: 80%;
}

.alta_zona .form-horizontal .control-label {
    width: 200px;
}
