<h1>Estadísticas generales</h1>
<br/>
<div id="container_cantidad" style="min-width: 400px; height: 400px; margin: 0 auto">
</div>
<br/>
<div id="container_recaudacion" style="min-width: 400px; height: 400px; margin: 0 auto">
</div>