<h1 style="text-align:center;">¿Que desea hacer?</h1>
<div data-role="controlgroup">
    <a data-role="button" id="estacionar" data-theme="b">Estacionar</a>
    <a data-role="button" id="historial" data-theme="b">Historial</a>
    <a data-role="button" id="cuentaCorriente" data-theme="b">Cuenta Corriente</a>
    <a data-role="button" id="recargar" data-theme="b">Recarga</a>
    <a data-role="button" id="salir" data-theme="b">Salir</a>
</div>