<br/>
<div id="form">
    <form class="span10 form-horizontal" id="alta_inspectores">
        <div class="control-group nombre">
            <span class="control-label" for="input01">Nombre*:</span>
            <div class="controls">
                <input type="text" name="nombre"/>
            </div>
        </div>

        <div class="control-group apellido">
            <span class="control-label" for="input01">Apellido*:</span>
            <div class="controls">
                <input type="text" name="apellido"/>
            </div>
        </div>

        <div class="form-actions">
            <div class="btn btn-primary">Guardar</div>
            <div class="btn right">Cancelar</div>
        </div>
    </form>
</div>