<h1 style="text-align:center;">¿Que pretende Ud. de mi?</h1>
<div data-role="controlgroup">
    <a data-role="button" id="patente" data-theme="b">Chequear estado de patente</a>
    <a data-role="button" id="historial" data-theme="b">Ver historial</a>
    <a data-role="button" id="perfil" data-theme="b">Modificar perfil</a>
    <a data-role="button" id="salir" data-theme="b">Salir</a>
</div>