<div id="userInspectorGadgetPage" data-role="page">

    <div data-role="header">
         <a data-rel="back" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Volver">
            <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">Volver
                </span>
                <span class="ui-icon ui-icon-back ui-icon-shadow">
                                &nbsp;
                </span>
            </span>
         </a>
         <h1>CPI</h1>
         <div id="inspectorOptionsMenu" class="ui-btn-right"></div>
    </div><!-- /header -->

    <div id="mainInspector" data-role="content">
        <h1 style="text-align:center;">¿Que desea realizar?</h1>
        <div data-role="controlgroup">
            <a data-role="button" id="patente" data-theme="b">Chequear estado de patente</a>
            <a data-role="button" id="historial" data-theme="b">Ver historial</a>
            <a data-role="button" id="perfil" data-theme="b">Modificar perfil</a>
            <a data-role="button" id="salir" data-theme="b">Salir</a>
        </div>
    </div><!-- /content -->

    <div data-role="footer">
        <h4>Ver Version PC</h4>
    </div>
</div><!-- /page -->


