<br/>
<div id="form">
    <form class="span11 form-horizontal" id="cuenta_corriente">

        <div class="control-group celular">
            <span class="control-label" for="input01">Celular:</span>
            <div class="controls">
                <input type="text" name="celular"/>
            </div>
        </div>

        <div class="control-group palabra_secreta">
            <span class="control-label" for="input02">Palabra secreta:</span>
            <div class="controls">
                <input type="text" name="palabra_secreta"/>
            </div>
        </div>

        <div class="control-group patente">
            <span class="control-label" for="input03">Patente:</span>
            <div class="controls">
                <input type="text" name="patente"/>
            </div>
        </div>

        <div class="control-group tiempo">
            <span class="control-label" for="input04">Tiempo:</span>
            <div class="controls">
                <input type="text" name="tiempo"/>
            </div>
        </div>

        <div class="form-actions">
            <div class="btn btn-primary">Cargar</div>
            <div class="btn right">Cancelar</div>
        </div>
    </form>
</div>