<br/>
<div id="form">
    <form class="span11 form-horizontal" id="alta_usuario_admin">

        <div class="control-group username">
            <span class="control-label" for="input01">Nombre de usuario*:</span>
            <div class="controls">
                <input type="text" name="username"/>
            </div>
        </div>

        <div class="control-group perfil">
            <span class="control-label" for="input01">Perfil*:</span>
            <div class="controls">
                <select name="perfil">
                    
                <select/>
            </div>
        </div>

        <div class="form-actions">
            <div class="btn btn-primary" id="guardar_usuario_admin">Guardar</div>
            <div class="btn right">Cancelar</div>
        </div>
    </form>
</div>