<div data-role="controlgroup">
  <div id="luzVerde">


<% if (this==true) { %>
   
    <a  class="ui-btn ui-btn-up-d" data-theme="d" data-role="button" data-corners="true"  data-wrapperels="span">
   <span class="ui-btn-inner">
    <span class="ui-btn-text">Patente Habilitada  </span>
   </span>
   </a>
<% } else {%>
  <a  class="ui-btn ui-btn-up-e" data-theme="e" data-role="button" data-corners="true"  data-wrapperels="span">
        <span class="ui-btn-inner">
        <span class="ui-btn-text">Patente en infracción </span>
        </span>
<% }

%>
</div>


