/* 
    Document   : control
    Created on : 01-ago-2012, 15:23:37
    Author     : nguidi
    Description:
        Purpose of the stylesheet follows.
*/

#userControlPage #mainControl .countdownHolder {
    font: 30px/1.5 'Open Sans Condensed',sans-serif;
}

#userControlPage #mainControl h3.center {
    text-align: center;
}

#userControlPage #mainControl p.bold{
    font-weight: bold;
}

#userControlPage #mainControl p.tiempoRestante {
    text-align: center;
    color: #090;
}

#userControlPage #mainControl p.red {
    color: #900;
}
 
#userControlPage #mainControl dl dt {
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
    padding:5px;  
    width:100px; 
}
 
#userControlPage #mainControl dl dd {
    margin:2px 0; 
    padding:5px 0;
}

#userControlPage #mainControl a[data-role="button"] {
    min-width: 45%; 
} 