<div id="usuarioMainPage" data-role="page">

        <div data-role="header">
            <a data-role="button" id="noticias" data-theme="b">Noticias</a>
            <h1>CPI</h1>
            <div class="ui-btn-right">
                <a data-icon="gear" id="opciones">
                    <span class="ui-btn-text">
                        <%= this.username %>
                    </span>
                </a>
            </div>
        </div>

        <div id="userMenu" data-role="content">
            <h1 style="text-align:center;">¿Que desea hacer?</h1>
            <div data-role="controlgroup">
                <a data-role="button" id="estacionar" data-theme="b">Estacionar</a>
                <a data-role="button" id="historial" data-theme="b">Historial</a>
                <a data-role="button" id="cuentaCorriente" data-theme="b">Cuenta Corriente</a>
                <a data-role="button" id="recargar" data-theme="b">Recarga</a>
                <a data-role="button" id="salir" data-theme="b">Salir</a>
            </div>
        </div><!-- /content -->
</div><!-- /page -->