<div class="logos">
    <img src="<%= img_url%>/head.jpg" border="0">
</div>
<br>
<form id="login" action="">
    <br>
    <span class="error_tag"><%=message %></span>
    <p>
        <label for="username"> Celular </label>
    </p>
    <p>
        <input name="log[username]" type="text" id="username">
    </p>
    <p>
        <label for="password"> Clave </label>
    </p>
    <p>
        <input name="log[password]" type="password" id="password">
    </p>
    <p>
        <input type='submit' value='Acceder'/>
    </p>
<p>
<a href="#newuser" class="newuser">Nuevo usuario</a> | <a href="#lostpass" class="lostpass">¿Olvidaste la contraseña?</a>
</p>
<br/>
</form>