<div class="row">
    <div class="ind_log"><img src="<%= img_url%>/utn.png" border="0" class="utn"></div>
    <div class="ind_log center"><img src="<%= img_url%>/logo_cell.jpg" border="0" class="cellparking"></div>
    <div class="ind_log"><img src="<%= img_url%>/avellaneda.jpg" border="0" class="muni"></div>
</div>
<br>
<form id="login" action="">
    <br>
    <span class="error_tag"><%=message %></span>
    <p>
        <label for="username"> Nombre de usuario </label>
    </p>
    <p>
        <input name="log[username]" type="text" id="username">
    </p>
    <p>
        <label for="password"> Contraseña </label>
    </p>
    <p>
        <input name="log[password]" type="password" id="password">
    </p>
    <p>
        <input type='submit' value='Acceder'/>
    </p>
<p>
<a href="" class="passloss">¿Olvidaste la contraseña?</a>
</p>
<br/>
</form>