/* 
    Document   : tabla
    Created on : 15-jun-2012, 19:23:14
    Author     : nguidi
    Description:
        Purpose of the stylesheet follows.
*/

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.simple {
    margin-bottom: 18px;
}

.simple td, 
.simple th {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.simple thead th {
    font-weight: bold;
    vertical-align: middle;
}

.simple caption + thead tr:first-child th,
.simple caption + thead tr:first-child td,
.simple colgroup + thead tr:first-child th,
.simple colgroup + thead tr:first-child td,
.simple thead:first-child tr:first-child td, 
.simple thead:first-child tr:first-child th {
    border-top: 0;
}

.simple tbody {
    border-top: 2px solid #dddddd;
}

.bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
}

.bordered th,
.bordered td {
    border-left: 1px solid #dddddd;
}


.bordered caption + thead tr:first-child th,
.bordered caption + tbody tr:first-child th,
.bordered caption + tbody tr:first-child td,
.bordered colgroup + thead tr:first-child th,
.bordered colgroup + tbody tr:first-child th,
.bordered colgroup + tbody tr:first-child td,
.bordered thead:first-child tr:first-child th,
.bordered tbody:first-child tr:first-child th,
.bordered tbody:first-child tr:first-child td {
    border-top: 0;
}

.bordered thead:first-child tr:first-child th:first-child,
.bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.bordered thead:first-child tr:first-child th:last-child,
.bordered tbody:first-child tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.bordered thead:last-child tr:last-child th:first-child,
.bordered tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
        -moz-border-radius: 0 0 0 4px;
            border-radius: 0 0 0 4px;
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.bordered thead:last-child tr:last-child th:last-child,
.bordered tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}

.striped  tbody tr:nth-child(odd) td,
.striped  tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

.simple tbody tr:hover th, 
.simple tbody tr:hover td {
    background-color: #f5f5f5;
}