<% for (var i=0; i < this.length; i++) { %>
<tr>
        <td align="center"><%= this[i].fecha %></td>
        <td align="center"><%= this[i].autos %></td>
</tr>
<% }  %>
<tr>
    <td colspan="100%" align="center">
        <b></b>
    </td>
</tr>