<h3>Autos en infracción por dia</h3>
<form>
    <b>Patente:</b> <input name="patente"/> 
    <b>Fecha Desde:</b> <input name="fechaDesde"/>
    <b>Fecha Hasta:</b> <input name="fechaHasta"/>
    <b>Inspectores:</b> 
    <select name="inspectores" class="span2">
        <option value="1">Todos</option>
        <option value="2">Dominguez, Juan Manuel</option>
        <option value="3">Perez, José</option>
    </select>
</form>
<div id="tabla">
    <div class="alto">
        <table class="cc table t2 table-striped" align="center">
            <thead>
                <tr>
                    <th align="center">
                        Inspector
                    </th>
                    <th align="center">
                        Patente
                    </th>
                    <th align="center">
                        Fecha ingreso
                    </th>
                    <th align="center">
                        Fecha egreso
                    </th>										
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>