/* 
    Document   : recargar
    Created on : 01-ago-2012, 11:41:31
    Author     : nguidi
    Description:
        Purpose of the stylesheet follows.
*/

#userSaldoPage #userSaldo h3.center {
    text-align: center;
}

#confirmarRecargaPage dl dt {
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
    padding:5px;  
    width:150px; 
}
 
#confirmarRecargaPage dl dd {
    margin:2px 0; 
    padding:5px 0;
}