<span class="count<%= this %>">
    <span class="position">
        <span class="digit static">
            0
        </span>
    </span>
    <span class="position">
        <span class="digit static">
            0
        </span>
    </span>
</span>