<h3>Autos estacionados por mes</h3>
<b>Mes:</b> <select name="fecha[mes]" id="mes" class="span2">
    <option value="1">Enero</option>
    <option value="2">Febrero</option>
    <option value="3">Marzo</option>
    <option value="4">Abril</option>
    <option value="5">Mayo</option>
    <option value="6">Junio</option>
    <option value="7">Julio</option>
    <option value="8">Agosto</option>
    <option value="9">Septiembre</option>
    <option value="10">Octubre</option>
    <option value="11">Noviembre</option>
    <option value="12">Diciembre</option>
</select> 
<b>Año:</b> 
<select name="fecha[anio]" id="anio" class="span2">
    <option value="2011">2011</option>
    <option value="2012">2012</option>
</select>
<div id="tabla">
    <div class="alto">
        <table class="cc table table-striped" align="center">
            <thead>
                <tr>
                    <th align="center">
                        Fecha
                    </th>
                    <th align="center">
                        Cantidad de Autos
                    </th>										
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>