<h1>Administraci칩n geogr치fica del municipio</h1>

<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tabla" data-togle="tab">Zonas del municipio</a></li>
		<li><a href="#alta" data-togle="tab">Nueva Zona</a></li>
	</ul>
	<div class="tab-content span14 row" id="cursos-view">
		<h2>En esta secci칩n podr치 administrar los cursos a los cuales se asocian a los candidatos<h2>
	</div>
</div>