<div class="h1">Administración geográfica del municipio</div>
<div class="tabbable tabs-left zonas">
    <ul class="nav nav-tabs">
        <li><a href="#tabla" data-togle="tab"><i class="icon-list-alt"></i>  Zonas del municipio</a></li>
        <li><a href="#alta" data-togle="tab"><i class="icon-plus"></i>  Nueva Zona</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="h2">En esta sección podrá administrar las zonas en la cual está dividida el municipio y las tarifas correspondientes</div>  
        </div>
        <div class="tab-pane" id="tabla">
            <div class="h2">Zonas del municipio</div>  
            <div id="tabla_zonas"></div>
        </div>
        <div class="tab-pane" id="alta">
            <div class="h2">Alta de zona</div>  
            <div></div>
        </div>
        
    </div>
</div>