<div id="userInspectorPage" data-role="page">

        <div data-role="header">
            <h1>CPI</h1>
            <div class="ui-btn-right">
                <a data-icon="gear" id="opciones">
                    <span class="ui-btn-text">
                        <%= this.apellido+', '+this.nombre %>
                    </span>
                </a>
            </div>
        </div>

        <div id="mainInspector" data-role="content">
            <h1 style="text-align:center;">¿Que desea hacer?</h1>
            <div data-role="controlgroup">
                <a data-role="button" id="patente" data-theme="b">Chequear estado de patente</a>
                <a data-role="button" id="historial" data-theme="b">Ver historial</a>
                <a data-role="button" id="salir" data-theme="b">Salir</a>
            </div>
        </div><!-- /content -->
</div><!-- /page -->