<tr class="<%= id %>">
    <td><%= apellido%>, <%= nombre%></td>
    <td>
        <div align="center">
            <a href="#" id="update">
                <i class="icon-wrench"></i>
            </a>
            <a href="#" id="delete">
                <i class="icon-trash"></i>
            </a>
        </div>
    </td>
</tr>