 <dl>	
		
    <dt>Codigo de Carga: </dt>
    <dd id="cod_carga"></dd>

    <dt>Credito: </dt>
    <dd id="credito"></dd>

    <dt>Fecha: </dt>
    <dd id="fecha"></dd>

</dl>

<a rel="back" data-role="button" >Cancelar</a>
<a data-role="button" id="confirmar" data-theme="b">Confirmar</a>