<form class="span6" id="user_princ">
    <div id="userInfo" class="well">
        <div class="control nombre">
            <label>Nombre*:</label>
            <input type="text" name="nombre"/><br/>
        </div>

        <div class="control apellido">
            <label>Apellido*:</label>
            <input type="text" name="apellido"/><br/>
        </div>
    </div>
</form>
<div id="saveInfo" class="btn btn-primary right">Guardar</div>