<br/>
<div id="form">
    <form class="span11 form-horizontal" id="alta_zonas">

        <div class="control-group apellido">
            <span class="control-label" for="input01">Nombre de la zona*:</span>
            <div class="controls">
                <input type="text" name="descripcion"/>
            </div>
        </div>

        <div class="form-actions">
            <div class="btn btn-primary guardar">Guardar</div>
            <div class="btn right">Cancelar</div>
        </div>
        <div id="alertas_alta_zonas">
        </div>
    </form>
</div>