<div class="h1">Consultas de infracciones y cuenta corriente</div>
<div class="tabbable tabs-left consultas">
    <ul class="nav nav-tabs">
        <li><a href="#ccc" data-togle="tab"><i class="icon-list-alt"></i> Consultas de cuenta corriente</a></li>
        <li><a href="#cinfraciones" data-togle="tab"><i class="icon-plus"></i> Consulta de infracciones</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="h2">En esta sección podrá consultar el estado de los usuarios</div>  
        </div>
        <div class="tab-pane" id="ccc">
            <div class="h2">Consultas de cuenta corriente</div>  
            <div id="consulta_cuenta_corriente"></div>
        </div>
        <div class="tab-pane" id="cinfraciones">
            <div class="h2">Consulta de infracciones</div>  
            <div id="consulta_infracciones"></div>
        </div>
        
    </div>
</div>