<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
        <label for="select-choice-a" class="select ui-select">
            <%= this.label %>:
        </label>
        <div class="ui-select">
            <select id="tarifas" name="select-choice-a" id="select-choice-a" data-native-menu="false" tabindex="-1">
                <option><%= this.title %></option>
                <% for (var i=0; i < this.options.length; i++) { %>
                    <option value="<%= this.options[i].value %>"><%= this.options[i].text %></option>
                <% } %>
            </select>
        </div>
</div>