<h3>Cuenta Corriente: </h3>

<table class="cc" cellspacing="0" cellpadding="3" border="1" align="center" width="80%">
    <thead>
        <tr>
            <th align="center">
                Fecha
            </th>
            <th align="center">
                Detalle
            </th>
            <th align="center">
                Debito
            </th>
            <th align="center">
                Credito
            </th>										
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>