
<% for (var i=0; i < this.length; i++) { %>
<tr>
        <td align="center"><%= this[i].fecha %></td>
        <td align="center"><%= this[i].detalle %></td>
        <td align="center"><%= this[i].debito %></td>
        <td align="center"><%= this[i].credito %></td>
</tr>
<% }  %>
<tr>
    <td colspan="100%" align="center">
        <b>TOTAL DEBITADO : </b>
    </td>
</tr>