/* 
    Document   : tabla
    Created on : 09/01/2012, 16:36:10
    Author     : nguidi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.alto{
    height: 450px;
}

table.t2{
    width: 600px;
}
table.t1 {
    width: 250px;
}

.span13{
    width: 72%;
}
.span20{
    width: 25%;
}

.spanTotal{
    width: 100%;
}

.span000{
    width: 50%;
}