<form id="usuarios_tabla_filter">
    <span>Celular:</span>
    <input type="text" name="usuario" class="margin-radial"/>

    <span>Perfil:</span>
    <select name="perfil" class="margin-radial">
        
    </select>

    <div class="btn btn-primary" id="consultar_cuenta_corriente">Consultar</div>
    <div class="btn right">Cancelar</div>
</form>
<div id="mostrar_datos_usuarios"></div>