<br/>
<div id="form">
    <form class="span11 form-horizontal" id="datos_ticket">

        <div class="control-group celular">
            <span class="control-label" for="input01">Celular:</span>
            <div class="controls">
                <input type="text" name="celular"/>
            </div>
        </div>

        <div class="control-group numero_caja">
            <span class="control-label" for="input02">Número de caja:</span>
            <div class="controls">
                <input type="text" name="numero_caja"/>
            </div>
        </div>

        <div class="control-group codigo_carga">
            <span class="control-label" for="input03">Código de carga:</span>
            <div class="controls">
                <input type="text" name="codigo_carga"/>
            </div>
        </div>

        <div class="control-group patente">
            <span class="control-label" for="input04">Patente:</span>
            <div class="controls">
                <input type="text" name="patente"/>
            </div>
        </div>

        <div class="form-actions">
            <div class="btn btn-primary">Cargar</div>
            <div class="btn right">Cancelar</div>
        </div>
    </form>
</div>