<br/>
<div class="form">
    <form id="consulta_cuenta_corriente">

        <span>Celular:</span>
        <input type="text" name="celular" class="filtrosCortos"/>

        <span>Palabra secreta:</span>
        <input type="text" name="palabra_secreta" class="filtrosCortos"/>

        <div class="btn btn-primary" id="consultar_cuenta_corriente">Consultar</div>
        <div class="btn right">Cancelar</div>
    </form>
</div>
<div id="table_resultados_cc">
</div>
<div class="alert fade in alert-error invisible" id="error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>No hay registros para mostrar: </strong> <span id="error_msg"></span>.
</div>