<tr class="<%= id %>">
    <td><%= zona%></td>
    <td>
        <div align="center">
            <a href="#" id="delete">
                <i class="icon-wrench"></i>
                <i class="icon-trash"></i>
            </a>
        </div>
    </td>
</tr>