<tr class="<%= id %>">
    <td><%= descripcion%></td>
    <td>
        <div align="center">
            <a href="#update">
                <i class="icon-wrench"></i>
            </a>
            <a href="#delete">
                <i class="icon-trash"></i>
            </a>
        </div>
    </td>
</tr>