<div class="h1">Administración de los inspectores del municipio</div>
<div class="tabbable tabs-left inspectores">
    <ul class="nav nav-tabs">
        <li><a href="#tabla" data-togle="tab"><i class="icon-list-alt"></i>  Inspectores</a></li>
        <li><a href="#alta" data-togle="tab"><i class="icon-plus"></i>  Alta inspector</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="h2">En esta sección podrá administrar los inspectores correspondientes al municipio</div>  
        </div>
        <div class="tab-pane" id="tabla">
            <div class="h2">Inspectores</div>  
            <br>
            <div id="tabla_inspectores">
            </div>
        </div>
        <div class="tab-pane" id="alta">
            <div class="h2">Alta de un inspector</div>  
            <div></div>
        </div>
        
    </div>
</div>