<div filter-type="igual" class='cell filterOption'>
    Igual A
</div>
<div filter-type="menor" class='cell filterOption'>
    Menor A
</div>
<div filter-type="mayor" class='cell filterOption'>
    Mayor A
</div>