<h3>Historial: </h3>

<table class="historial" cellspacing="0" cellpadding="3" border="1" align="center" width="80%">
    <thead>
        <tr>
            <th align="center">
                Patente
            </th>
            <th align="center"width="40%">
                Ingreso
            </th>
            <th align="center"width="40%">
                Egreso
            </th>					
            <th align="center">
                Importe
            </th>						
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>