<div id="loginPatentePage" align="center" data-role="page">
    <div data-role="header">
        <a data-rel="back" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Volver">
            <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">
                    Volver
                </span>
                <span class="ui-icon ui-icon-back ui-icon-shadow">
                    &nbsp;
                </span>
            </span>
        </a>
        <h1>CPI</h1>
    </div><!-- /header -->
    <div id="loginPatenteMain" data-role="content">

        <div id="marcaSelect"> </div>

        <label for="patente" class="ui-input-text">Patente:</label>
        <input type="text" name="patente" id="patente">

        <a rel="back" data-role="button" data-inline="true">Cancelar</a>

        <a data-role="button" data-inline="true" id="acceder" data-theme="b">Acceder</a>
    </div>
</div>