<div class="h1">Administración geográfica del municipio</div>
<div class="tabbable tabs-left zonas">
    <ul class="nav nav-tabs">
        <li><a href="#ticket" data-togle="tab"><i class="icon-list-alt"></i> Carga estacionamiento con datos del ticket</a></li>
        <li><a href="#cc" data-togle="tab"><i class="icon-plus"></i> Carga estacionamiento con crédito en cuenta corriente</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="h2">En esta sección podrá cargar un estacionamiento por medio de distintos métodos</div>  
        </div>
        <div class="tab-pane" id="ticket">
            <div class="h2">Carga estacionamiento con datos del ticket</div>  
            <div id="datos_ticket" class="alta"></div>
        </div>
        <div class="tab-pane" id="cc">
            <div class="h2">Carga estacionamiento con crédito en cuenta corriente</div>  
            <div id="cuenta_corriente" class="alta"></div>
        </div>
        
    </div>
</div>