<a id="options" data-icon="gear" data-iconpos="notext" class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Opciones">
    <span class="ui-btn-inner ui-btn-corner-all">
        <span class="ui-btn-text">
            Volver
        </span>
        <span class="ui-icon ui-icon-gear ui-icon-shadow">
            &nbsp;
        </span>
    </span>
</a>