<div class="h1">Administración de usuarios del sistema</div>
<div class="tabbable tabs-left usuarios">
    <ul class="nav nav-tabs">
        <li><a href="#tabla" data-togle="tab"><i class="icon-list-alt"></i>  Usuarios del sistema</a></li>
        <li><a href="#alta" data-togle="tab"><i class="icon-plus"></i>  Alta de usuario</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="h2">En esta sección podrá administrar los usuarios del sistema</div>  
        </div>
        <div class="tab-pane" id="tabla">
            <div class="h2">Usuarios del sistema</div>  
            <div id="tabla_usuarios"></div>
        </div>
        <div class="tab-pane" id="alta">
            <div class="h2">Alta de usuario</div>  
            <div id="alta_usuarios" class="alta_zona"></div>
        </div>
        
    </div>
</div>