<h3>Autos estacionados por dia</h3>
<form>
    <b>Patente:</b> <input name="patente"/> 
    <b>Fecha:</b> <input name="fecha"/>
</form>
<div id="tabla">
    <div class="alto">
        <table class="cc table t2 table-striped" align="center">
            <thead>
                <tr>
                    <th align="center">
                        Fecha
                    </th>
                    <th align="center">
                        Patente
                    </th>
                    <th align="center">
                        Hora de entrada
                    </th>
                    <th align="center">
                        Hora de salida
                    </th>										
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>