<div id="mainPage" data-role="page">

        <div data-role="header">
                <h1>CPI</h1>

        </div><!-- /header -->

        <div id="mainP" data-role="content">
            <div id="main" >
                <img src="images/logo_cell.jpg" alt="Cell Parking International" align="center" style="margin-left: 10%"/>
            </div>

            <div id="register" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c" class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-block ui-btn-up-c">
                <span class="register ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text">
                        Registrate
                    </span>
                </span>
            </div>

            <div id="login" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="b" class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-block ui-btn-up-b">
                <span class="login ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text">
                        Ingresar
                    </span>
                </span>
            </div>

            <div id="patente" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c" class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-block ui-btn-up-c">
                <span class="login ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text">
                        Ingresar con Patente
                    </span>
                </span>
            </div>

        </div><!-- /content -->

</div><!-- /page -->