<h1>Nuevo usuario</h1>
<br/>
<div id="register">
<br>
    <form class="form-horizontal" id="alta_cliente">
        <div class="control-group celular">
            <span class="control-label" for="input01">Celular: </span>
            <div class="controls">
                <input name="username" type="text">
            </div>
        </div>

        <div class="control-group password">
            <span class="control-label" for="input01">Clave:</span>
            <div class="controls">
                <input name="password" type="password">
            </div>
        </div>

        <div class="control-group repPassword">
            <span class="control-label" for="input01">Repetir Clave:</span>
            <div class="controls">
                <input name="repPassword" type="password" id="password">
            </div>
        </div>

        <div class="control-group palabraClave">
            <span class="control-label" for="input01">Palabra para recuperar Clave:</span>
            <div class="controls">
                <input name="palabraClave" type="password" id="password">
            </div>
        </div>

        <div class="form-actions">
            <div class="btn btn-primary" id="guardar">Guardar</div>
            <div class="btn right" id="cancelar">Cancelar</div>
        </div>
    </form>
</div>
<div class="alert fade in invisible" id="success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Usuario creado correctamente!</strong> Ahora puede intentar ingresar al sistema.
    <div class="btn btn-primary" id="volver">Ingresar al sistema</div>
</div>
<div class="alert fade in alert-error invisible" id="error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Hubo un error al crear el usuario!: </strong> <span id="error_msg"></span>.
</div>