/* 
    Document   : style
    Created on : 28-may-2012, 17:27:17
    Author     : nguidi
    Description:
        Purpose of the stylesheet follows.
*/

body{
    font-size: 16px;
    margin:0px;
    font-family: arial;
    color: #000033;
    background-color: #FFF;
}

#mainframe{
    padding: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

#register{
    font-weight: bold;
    width: 70%;
    background-color: #F7F2E0;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#CEE3F6), to(#EFF5FB));
    background-image: -moz-linear-gradient(top, #CEE3F6, #EFF5FB);
    background-image: -ms-linear-gradient(top, #CEE3F6, #EFF5FB);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CEE3F6), color-stop(100%, #EFF5FB));
    background-image: -webkit-linear-gradient(top, #CEE3F6, #EFF5FB);
    background-image: -o-linear-gradient(top, #CEE3F6, #EFF5FB);
    background-image: linear-gradient(top, #CEE3F6, #EFF5FB);
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.form-horizontal .control-label {
    width: 300px;
}

.control-group{
    margin-top: 18px;
}

div.invisible{
    display: none;
}